<form action="/recipes/<%= @recipes.id %>/edit" method="post">

  <div>
    <h2>Name: <%= @recipes.name %></h2>
    <h2>Ingredients: <%= @recipes.ingredients %></h2>
    <h2>Cook Time: <%= @recipes.cook_time %></h2>
  </div>

  </div>
    
    <h2>Name to update: <input type="text" id="name" name="recipes[name]"></h2>
    <h2>Ingredients to update: <input type="text" id="ingredients" name="recipes[ingredients]"></h2>
    <h2>Cook Time to update: <input type="text" id="cook_time" name="recipes[cook_time]"></h2>

    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="submit" value="update this recipe">
  </div>

</form>