<% @recipes.each do |r| %>
    <a href="/recipes/<%= r.id %>">Recipe Link</a>
    Name: <%= r.name %><br>
    Ingredients: <%= r.ingredients %><br>
    Cook Time: <%= r.cook_time %><hr>
<% end %>

    