<h1>Add A New Recipe!</h1>
    <form method="post" action="/recipes">
        <h2>Recipe Name: <br><input type="text" name="name"></h2>
        
        <p>Ingredients: <br><textarea name="ingredients"></textarea></p>
        
        <p>Cook Time: <br><input type="text" name="cook_time"></p>
        
        <input type="submit" name="submit">
    </form>
