<form action="/recipes" method="post">
    <input type="text" placeholder="Recipe Name:" name="name" id="name"><br>
    <input type="text" placeholder="Ingredients:" name="ingredients" id="ingredients"><br>
    <input type="text" placeholder="Cook Time:" name="cook_time" id="cook_time"><br>
    <input type="submit" value="submit">
</form>