<h2>Use the bellow form to create new recipe:</h2>
<form action="/recipes" method="POST">
<label for="name">Name:</label>
<input type="text" name="name" /><br>
<label for="ingredients"> Ingredients:</label>
<input type="text" name="ingredients" /><br>
<label for="cook_time">Cook_time:</label>
<input type="text" name="cook_time" /><br>
<input type="submit" value="submit" /><br>
</form>
